/* GDES306 | MMDD253 - Coding Your Portfolio     */
/* Extra small devices (phones, less than 600px) */
/* No media query since this is the default CSS */


/* Basic page styling */
:root {
    /* These are global variables that you can use in your CSS */
    --black:black;
    --dark-grey:#333;
    --mid-grey:#666;
    --light-grey:#999;
    --navy-blue:#203543;
    --white:white;
    --accent-colour:#F8D859;
    --headline-font:'source sans pro';
    --body-font:'source sans pro';
    --horizontal-shift:6px;
    --section-padding-top:120px;
   }


   * {
    margin: 0;
    padding: 0;
    transition: 0.5s;
    }

   .auto-height
   {
    min-height: auto; 
   
   }


   html {
    scroll-behavior: smooth;
  overflow-x: hidden;
    }



    body 
    { 
     font-family: var(--body-font);
    }
    h1, h2, h3, h4, h5, h6 
    {
     font-family:'Source sans pro Regular';
    }
  
  
      h1 
      {
      font-size: calc(30px + (60 - 40) * (100vw - 400px) / (1800 - 400));
      text-align: center;
      margin-top: 4.5rem;
      color: var(--white); 
      }
  
      h2 
      {
       font-size: calc(15px + (48 - 32) * (100vw - 400px) / (1800 - 400));
       text-align: center;
       padding-left: 5em;
       margin-top: 1.3rem;
       margin-right: 5em;
  
       color: var(--white);
  
      }
      h3
  
      {
       font-size: calc(20px + (28 - 20) * (100vw - 400px) / (1800 - 400));
      }
  
      p 
  
      {
       font-size: calc(16px + (20 - 16) * (100vw - 400px) / (1800 - 400));
       margin-bottom:2rem;
      }
      
  
  
      a 
      
      {
        font-size: calc(17px + (20 - 16) * (100vw - 400px) / (1800 - 400));
        text-decoration: none;
        font-family: 'source sans pro Regular';
        margin: auto;
      }
  
  

              
  
  
  
  
      

  
  /* Styling the Navigation bar */



  .menu-icon {
    display: none;
    }
    

#menu-toggle{
  display: none;
}


  
  header {
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  
  nav {
    background: var(--white);
    height: 60px;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(#24302B, #203543);
    padding-bottom: 50px;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
  }
  
  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 1em;
    right: 1em;
  }



  


  .nav-links li {
    

    display: inline-block;
    margin-right: 85px;
    color: #F8D859;
    transition: .5s all ease-in-out;

  }
  


  .nav-links li a {


    text-decoration: none;
    color: var(--white);
  }
  
  .nav-links li a:hover {
    color: var(--accent-colour);
  }
  
  .logo {
    margin-right: auto;
    
  }
  
  .logo img  {
    height: 4.0rem;
    width: auto;
    margin-top: 25px;
    margin-left: 50px;
  }
  

     
  /* Styling for the Introduction */
  
  
  
  #introduction {
     
      display: grid;
      min-height: calc(100vh - var(--section-padding-top));
      padding-top: var(--section-padding-top);

      align-content: start;
      background-image: linear-gradient(#24302B, #203543);
  
     }
  
  
  #introduction  {
  
      align-content: center;
      padding-top:0px; 
  
  }
  
  


  


  
  #introduction h2 {
  
    font-weight: 100;
    font-size: calc(13px + (48 - 32) * (100vw - 400px) / (1800 - 400));
    text-align: center;
    padding-top:30px; 




  }
  
  
  
  
  #introduction img
  {
      height: 7.0rem;
      width: auto;
  }
  
  .icon1
  {
      position: relative;
      top: 210px;
      right: -90px;
  
  }
  
  
  .icon2
  {
      position: relative;
      top: 90px;
      left: 105em;
  }
  
  .icon3
  {
      position: relative;
      bottom: 10px;
      right: -90px;
  
  }
  
  
  
  .icon4
  {
      position: relative;
      bottom: 150px;
      left: 105em;
  }
  
  
  
    .icon1{
      transform: translateY(-10%);
      animation: floater 4.5s infinite;
      transition: ease 0.5s;
      width: 80px;
      height:80px;
    }
  
  
    
    .icon2{
      transform: translateY(-10%);
      animation: floater 5.5s infinite;
      transition: ease 0.5s;
      width: 80px;
      height:80px;
    }
    
  
      
    .icon3{
      transform: translateY(-10%);
      animation: floater 6.0s infinite;
      transition: ease 0.4s;
      width: 80px;
      height:80px;
    }
    
  
        
    .icon4{
      transform: translateY(-10%);
      animation: floater 6.5s infinite;
      transition: ease 0.4s;
      width: 80px;
      height:80px;
    }
    
  
    
    @keyframes floater {
      0%{transform: translateY(-10%);transition: ease-in-out 0.5s;}
      50%{transform: translateY(10%);transition: ease-in-out 0.5s;}
    }
  
     
    .btn 
    {
      border: 3px solid whitesmoke;
      border-radius: 20px;
  
      color: var(--white);
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: calc(16px + (20 - 16) * (100vw - 400px) / (1800 - 400));
      width: fit-content; 
      margin-top: 70px;
  
  
      transform: translateY(-10%);
      animation: floater 4.5s infinite;
      transition: ease-in-out 0.5s;
     }
  
     
     .btn:hover 
     {
      animation: none;
      background-color: var(--accent-colour);
      color: var(--navy-blue);
      padding-left: calc(35px + var(--horizontal-shift));
      padding-right: calc(35px + var(--horizontal-shift));
     }
  
  
     .btn:visited 
     {
      color: var(--#203543);
     }
  
     .btn:hover:visited 
     {
      color: var(--navy-blue);
     }
  
  
  
  
  
  
  
      
     /* Styling for the Section Portfolio */
  
  
     section 
     {
     
      display: grid;
      min-height: calc(100vh - var(--section-padding-top));
      padding-top: var(--section-padding-top);
      grid-template-columns: 15% 1fr 15%;

      background-color: #ECF2F9;
      background-image: color(#ECF2F9);

     }
     
    
  
  
  
  
  
  
  /* Styling for the Portfolio Section */
  
  
  
  
  
  /*----- Portfolio project-----*/
  
  .project1{
      
     
      text-align: center;
      padding-top: 10px;

   
  }
     
  
  
  .project1 h1  {
  
      font-size: 30px;
      font-weight: 14px;
      color:  #203543;
      text-align: center;
      width: 660%;
   
     
  
  
  }
  

  .row p{
      color: var(--white);
      font-size: 20px;
      font-weight: 300;
      line-height: 22px;
      padding: 10px;
  }
  
  .row{

      display: flex;
      margin-left: 8em;
      padding-top: 50px;
      margin-bottom: 300px;
      
      
  }
  
  .project-col{

      flex-basis: 31%;
      background:  linear-gradient(#24302B, #203543);
      border-radius: 40px 40px 40px;
      margin-bottom: -60%;
      margin-left: 70px;
      padding: 20px px;
      box-sizing: border-box;
      transition: 0.5s;
  
      cursor: pointer;
      transform: transform 0.3s ease-in-out;
      
  
  }
  
  .project1 img{
      border-radius: 30px 30px 00px 0px  ;
      height: 330px;
      width: 450px;
  }
  
  .row h3 {
      color: var(--white);
      text-align: center;
      font-size: 23px;
      font-weight: 600;
      margin: 10px 0;
  }
  
  
  
  .project-col:hover{
  
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0 0 100px 0px rgba(0,0,0,0.2);
    float:left;
    transform: translateY(-20px);
      
  
  
  
  }
  
  
  
  
  .project-btn
  {
      position: relative;
      bottom: 60px;
  
  }
  
  
  
  .project-btn
    {
      border: 3px solid whitesmoke;
      border-radius: 20px;
  
      color: var(--white);
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: calc(16px + (20 - 16) * (100vw - 400px) / (1800 - 400));
      width: fit-content; 
      margin-top: 80px;
     }
  
     
     .project-btn:hover 
     {
      background-color: var(--accent-colour);
      color: var(--navy-blue);
  
     }
  
  
     .project-btn:visited 
     {
      color: var(--#203543);
     }
  
     .project-btn:hover:visited 
     {
      color: var(--navy-blue);
     }
  
  
  
  /* Styling for the About */
  
  
  
  
  /* Styling the Contact section */




  .footer-content
  {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    text-align: center;

    background: var(--navy-blue);
    background-size: auto;
    color:var(--white);
 
  }



  .footer-content h3{

    max-width:500px;
    margin: 30px auto;
    line-height: 28px;
  
  
    }


  .footer-content p{

  margin: 10px auto;
  line-height: 28px;


  }




.socials{
  list-style: none;
  display: flex;

  font-size: 32px;
}


.socials li{
  list-style: none;
  margin: 5px 0px;



}



.socials a i{
  font-size: 2.1rem;
  margin: 45px 50px 30px 40px;
  text-decoration: none;
  color: var(--accent-colour);

}




.footer-bottom{
text-align: center;
width: 100vw;
padding:10px 30px;

}



.footer-bottom p{
  font-size: 20px;

  word-spacing: 2px;
  text-transform: capitalize;
  }
  



  

     .inverted-colours {
      background: var(--navy-blue);
      background-size: auto;
      color:var(--white);
     }
     .inverted-colours a {
      color:var(--white);
     }
     .inverted-colours a:visited {
      color:var(--white);
     }
     .inverted-colours .contact-btn {
  
      color:var(--navy-blue);
      color:var(--white);
  
  
     }
     
     .inverted-colours .contact-btn:hover {
      color:var(--black);
      background:var(--accent-colour);
     }
  
  
     
     .contact-btn
     {
       border: 3px solid whitesmoke;
       border-radius: 20px;
   
       color: var(--white);
       padding: 15px 32px;
       text-align: center;
       text-decoration: none;
       display: inline-block;
       font-size: calc(16px + (20 - 16) * (100vw - 400px) / (1800 - 400));
       width: fit-content; 
       margin-top: 300px;
      }
   
      
    
  
  
  /*---------------------------Styling for the About Page--------------------------------------------*/
  


  .about 
  {
  
  width:100%;
  background-color: #ECF2F9;

  
  }

  .about img
  {
  height:auto;
  width: 420px;
  border-radius: 25px;
  }




  .about-text
  {

  width: 550px;

  
  }



 
  .about-text h1
  {

  font-size:50px;
  text-transform: capitalize;
  margin-bottom: 20px;
  color: var(--navy-blue);
  text-align: left;
  
  }


  .about-text h5
  {

  font-size:25px;
  color: var(--navy-blue);

  text-transform: capitalize;
  text-decoration: underline;
   margin-bottom: 25px;
   letter-spacing:2px;
  
  }




  .about-text p
  {

   letter-spacing: .1px;
   line-height:28px;
   font-size:19px;
   margin-bottom: 45px;
  
  }




.main
  {
  
  width: 1130px;
  max-width:95%;
  margin: 0 auto ;
  display:flex;
  align-items: center;
  justify-content:space-around ;

  
  }






  .main2
  {
  
  width: 1330px;
  max-width:95%;
  margin: 100px auto ;
  display:flex;
  align-items: center;
  justify-content:space-around ;

  
  }




  .about-text2
  {

  width: 550px;

  
  }




  .about-text2 p
  {

   letter-spacing: .1px;
   line-height:28px;
   font-size:19px;
   margin-bottom: 45px;
  
  }




  .about-text2 h5
  {

  font-size:25px;
  color: var(--navy-blue);

  text-transform: capitalize;
  text-decoration: underline;
   margin-bottom: 25px;
   letter-spacing:2px;
  
  }


  
  
  
  
  
  /*Card slider for Skills*/
  
  
  
  .skills  {
   
    text-align: center;
    font-size: 35px;
    color: var(--navy-blue);
    font-weight: 600;
    line-height: 60px;
    position: relative;
    top: 150px;

  
  }
  
  .container 
  {
  
    padding: 10 ;
    margin-right: auto;
    margin-left: auto;

  
  }


  
  .gradient-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    padding: 90px;
    
  }
  

  
  .card {
    max-width: 550px;
    border: 0;
    width: 100%;
    margin-inline: auto;
  }
  
  .container-card 
  {
    position: relative;
    border: 2px solid transparent;
    background: var(--navy-blue);
    background-clip: padding-box;
    border-radius: 35px;
    padding: 40px;
    margin-top: 5px;
  
  
  
    cursor: pointer;
    transform: transform 0.3s ease-in-out;
  
  
  }
  
  
  .card-title 
  {
    font-weight: 600;
    color: white;
    letter-spacing: -0.02em;
    line-height: 40px;
    font-style: normal;
    font-size: 25px;
    padding-bottom: 8px;
  }
  
  .card-description 
  {
  
    line-height: 32px;
    color: var(--white);
    font-size: 17px;
    max-width: 470px;
  }
  
  
  .container-card:hover
  {
  
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0 0 100px 0px rgba(0,0,0,0.2);
    float:left;
    transform: translateY(-20px);
      
  }
  
  
  
  
  
   
  /*---------------------------Styling for the Project 1, (Booster Juice) -------------------------------------------*/
  
  
  .header
  {
  
    background-color: #ECF2F9;
    padding-top: 90px;

  
  }
  
  .title
  
  {
  text-align: center;

  }
  
  
  
  
  .title h1
  {
     padding-bottom: 60px;
      font-size: 2em;
      color: #1E3547;
      text-align: center;
      
  
  }
  
  
  
  .contact-btn
  {
    background-color: var(--navy-blue);
    border-radius: 20px;
  
    color: var(--white);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: calc(16px + (20 - 16) * (100vw - 400px) / (1800 - 400));
    width: fit-content; 
    margin-top: 40px;
   }
  
   
   .contact-btn:hover 
   {
    animation: none;
    background-color: var(--accent-colour);
    color: var(--navy-blue);
  
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: translateY(-10px);
   }


  
  .overview h2 
   {
  color: var(--navy-blue);
  text-align:center;
  padding-top: 30px;
  letter-spacing:1px;
  }
  

  .roles h2 {
    color: var(--navy-blue);
    text-align:center;
    padding-top: 20px;
    letter-spacing:1px;
  
  }
  
  .tools h2
  {
    color: var(--navy-blue);
    text-align:center;
    padding-top: 20px;
    letter-spacing:1px;
  }



  
  
  .research-proposal
  {
    padding-top: 50px;
    color: var(--navy-blue);
    text-align:left;
    padding-left: 480px;
    margin-right: 550px;
  
  }
  
  .research-proposal h2
  {
  
  color: var(--navy-blue);
  }
  
  
  .research-proposal p, ul
  {

    font-size: 22px;
    line-height: 30px;
    letter-spacing:.5px;
    color: var(--navy-blue);
  
  }
  
  
  .research-proposal img 
  {
  margin-left: 200px;
  }
  
  
  
  .process
  {
    margin-top: 50px;
    font-size: 1.1rem;
    font-size: 22px;
  
    letter-spacing:1px;
  
  }
  
  
  
  .project1-row1 {
  
    margin-top: 100px;
  
  
  
  }
  
  
  .project1-column4 {
  
    margin-top: 100px;
  
  }
    
  
  .project1-column5 {
  
    margin-top: 50px;
  
  }
    
  
  .project1-column6 {
  
    margin-top: 50px;
  
  }
    
  
    /*---------------------------Styling for the Project 2, (Humber cake bakery) -------------------------------------------*/

  
  
  
  .ar-process a
  {
  color:#1E3547;
  text-decoration: underline;
  }
  
  

  .project2-column5
  {
    margin-top: 100px;
  
  }

      /*---------------------------Styling for the Project 3, (Insomnia Cookies) -------------------------------------------*/

  
  
  .project3-row1
  {
    margin-top: 100px;
  
  }
  
  
  
  
  
  
  .project3-row2 {
    display:flex;
    justify-content: center;  
    margin-top: 100px;
  }
  
  
  
  .project3-column4 {
    
    margin-right: 10px;
  
  }
  
  
  .project3-row3
  {
    display:flex;
    justify-content: center;  
    margin-top: 100px;
  
  
  
  
  }
  
  
  
        /*---------------------------Styling for the Project 4, (Nintendo Switch ) -------------------------------------------*/

  
  
  .project4-row1 {
    display:flex;
    justify-content: center;  
    margin-top:60px;
  
  
  }
  
  
  .research-proposal-2 ,   .research-proposal-3
  {
   

    font-size: 22px;
    line-height: 30px;
    letter-spacing:.5px;


    padding-top: 50px;
    color: var(--navy-blue);
    text-align:left;
    padding-left: 480px;
    margin-right: 550px;
  
  
  }
  
  
  
  .project4-row2, .project4-column4
  {
    display:flex;
    justify-content: center;  
    margin-right: 50px;
  }
  
  
  
  .project4-row3, .project5-column6
  {
    display:flex;
    justify-content: center;  
    margin-right: 50px;
  }
  
  
  
  
  .nintendo-vid
  {
    padding-top: 50px;
    margin-bottom:60px;

  }

  .nintendo-vid1 h3,.nintendo-vid2 h3, .nintendo-vid3 h3{
  
    font-size: 27px;

  
  margin-top:90px;
  
  }
  
          /*---------------------------Styling for the Project 6, (Augmented reality) -------------------------------------------*/

  
  

  .augmneted-reality 
  {
  
    padding-top: 50px;
    margin-bottom:60px;

  }




  .augmneted-reality h3, .augmneted-reality1 h3, .augmneted-reality2 h3, .augmneted-reality3 h3
  {

    margin-top:90px;
    font-size: 27px;


  }
  


/* Large devices (i.e. desktop) */

@media (max-width: 1200px) {







  .menu-icon {
    display: none;
    }
    





  html {
    scroll-behavior: smooth;
  overflow-x: hidden;
    }

  
  .icon2
  {
      position: relative;
      top: 90px;
      left: 60em;
  }
  

  .icon4
  {
      position: relative;
      bottom: 150px;
      left: 60em;
  }
  






  .row p{
      color: var(--white);
      font-size: 18px;
      font-weight: 300;
      line-height: 22px;
      padding: 10px;
  }
  
  .row{

      display: flex;
      position: relative;
      right: 8.5em;
      
  }
  
  .project-col{

      background:  linear-gradient(#24302B, #203543);
      border-radius: 40px 40px 40px;
      margin-bottom: -60%;
      margin-left: 35px;
      padding: 20px px;
      box-sizing: border-box;
      transition: 0.5s;
  
      cursor: pointer;
      transform: transform 0.3s ease-in-out;
      margin-right: 1em;

  
  }
  
  .project1 img{
      border-radius: 30px 30px 00px 0px  ;
      height: 300px;
      width: 352px;
  }
  
  .row h3 {
      color: var(--white);
      text-align: center;
      font-size: 19px;
      font-weight: 600;
      margin: 10px 0;
  }
  
  
  


  .about 
  {
  
  padding: 0px 0px;
  background-color: #ECF2F9;
  
  
  }
  
  .about img
  {
  height:240px;
  width:330px;
  border-radius: 25px;
  margin-top: 150px;
  }
  
  
  
  
  
  
  .about-text h1
  {
  
  font-size:35px;
  text-transform: capitalize;
  margin-bottom: 20px;
  color: var(--navy-blue);
  text-align: center;
  
  }
  
  
  .about-text h5
  {
  
  font-size:22px;
  color: var(--navy-blue);
  text-align: center;
  
  text-transform: capitalize;
  text-decoration: underline;
   margin-bottom: 25px;
   letter-spacing:2px;
  
  }
  
  
  
  
  .about-text p
  {
  
   letter-spacing: .1px;
   line-height:28px;
   font-size:20px;
   margin-bottom: 45px;
   padding-right: 32px;
   margin-left: 90px;
  }
  
  
  
  
  .main
  {
  
  width: 830px;
  max-width:00%;
  margin: 0 auto ;
  display:flex;
  
  flex-direction: column;
  
  
  }
  
  
  
  
  
  
  .main2
  {
  
  
  max-width:95%;
  margin: 100px auto ;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around ;
  
  
  }
  
  
  
  .about-text2 h5
  {
  
    font-size:25px;
    color: var(--navy-blue);
  text-align: center;
  letter-spacing:2px;
  text-transform: capitalize;
  text-decoration: underline;
  
  
   margin-bottom: 25px;
  
  }
  
  
  
  
  .about-text2 p
  {
  text-align: center;
   letter-spacing: .1px;
   line-height:28px;
   font-size:20px;
  
   margin-bottom: 45px;
   padding-left: 80px;
   width: 380px;
  
  }
  
  
  
  
  
  
  
  
  
  
  /*Card slider for Skills*/
  
  

 
  
  
  
  
  .skills  {
   
    text-align: center;
    font-size: 35px;
    color: var(--navy-blue);
    font-weight: 600;
    line-height: 60px;
    position: relative;
    top: 30px;

  
  }
  
  .container 
  {
  
    padding: 10 ;
    margin-right: auto;
    margin-left: auto;

  
  }


  
  .gradient-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    padding: 10px;
    
  }
  

  
  .card {
    max-width: 550px;
    border: 0;
    width: 100%;
    margin-inline: auto;
  }
  
  .container-card 
  {
    position: relative;
    border: 2px solid transparent;
    background: var(--navy-blue);
    background-clip: padding-box;
    border-radius: 35px;
    padding: 40px;
    margin-top: 5px;
  
  
  
    cursor: pointer;
    transform: transform 0.3s ease-in-out;
  
  
  }
  
  
  .card-title 
  {
    font-weight: 600;
    color: white;
    letter-spacing: -0.02em;
    line-height: 40px;
    font-style: normal;
    font-size: 25px;
    padding-bottom: 8px;
  }
  
  .card-description 
  {
  
    line-height: 32px;
    color: var(--white);
    font-size: 17px;
    max-width: 470px;
  }
  
  
  .container-card:hover
  {
  
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0 0 100px 0px rgba(0,0,0,0.2);
    float:left;
    transform: translateY(-20px);
      
  }
  
  
  
  
  
  
    /*---------------------------Styling for the Project 1, (Booster Juice) -------------------------------------------*/
  
  
  
  
  
  
    .header
    {
    
      background-color: #ECF2F9;
      padding-top: 90px;
  
    
    }
    
    .title
    
    {
    text-align: center;
  
    }
    
    
    
    
    .title h1
    {
       padding-bottom: 60px;
        font-size: 1.5em;
        color: #1E3547;
        text-align: center;
        
    
    }
    
    .title img
    {
      height: 500px;
      width: 590px ;
    }
    
    .contact-btn
    {
      background-color: var(--navy-blue);
      border-radius: 20px;
    
      color: var(--white);
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: calc(16px + (20 - 16) * (100vw - 400px) / (1800 - 400));
      width: fit-content; 
      margin-top: 40px;
     }
    
     
     .contact-btn:hover 
     {
      animation: none;
      background-color: var(--accent-colour);
      color: var(--navy-blue);
    
      cursor: pointer;
      transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
      transform: translateY(-10px);
     }
  
  
  
  
  
    
    
    .research-proposal
    {
      padding-top: 50px;
      color: var(--navy-blue);
      text-align:left;
      padding-left: 40px;
      margin-left: 0px;
      margin-right: 20px;
    
    }
    
    .research-proposal h2
    {
    
    color: var(--navy-blue);
    }
    
    
    .research-proposal p, ul
    {
  
      font-size: 18px;
      line-height: 30px;
      letter-spacing:.5px;
      color: var(--navy-blue);
    
    }
    
    .project1-row1 img
    {
      
      height: 500px;
      width: auto;
    }
  

  
    .project1-row1 img
    {
      
      height: 500px;
      width: auto;
    }
  


    .project1-column3 img
    {
      height: 500px;
      width: auto;
    }
  
  
       
 
    .ar-sketches p
    {

    position: relative;
    left: 80px;
    }
    
   
 

    .project2-column2 img
    {
      height: 550px;
      width: auto;
    }
  
    .project2-row2 img
    {
      height: 250px;
      width: auto;
    }
  
  
    .project2-row3 img
    {
      height: 180px;
      width: auto;
    }
            
  
  .project3-row3 img
  
  {
    height: 300px;
    width: auto;
  
  }
  
  .project3-row1 img
  {
    height: 400px;
    width: auto;
  
  }
  
  
  .project3-row4 img
  
  {
    height: 400px;
    width: auto;
  
  }
  
  
  
  
  
  
  
    
    .project4-row1 img
    {
      height: 270px;
      width: auto; 
    }
  
   
  
  
  
    .research-proposal-2 , .research-proposal-3
    {
     
  
      font-size: 18px;
      line-height: 30px;
      letter-spacing:.5px;
  
  
      padding-top: 40px;
      color: var(--navy-blue);
      text-align:left;
      padding-left: 10px;
      margin-right: 0px;
    
    
    }
    
  
    .project4-row2
    {
  
      display: flex;
      flex-direction: column;
    }
  
  
  
    .project4-column4 img  
    {
      padding-left: 100px;
      height: 400px;
      width:auto; 
    }
  
  
  
    .project4-column5 img  
    {
      padding-left: 50px;
      height: 400px;
      width:auto; 
    }
  
  
    
  
  
    .project4-row3
    {
  
      display: flex;
      flex-direction: column;
    }
  
  
    .project4-column6 img
    {
      padding-left: 50px;
      height: 400px;
      width:auto; 
  
    }
    .project4-column7 img
    {
      padding-left: 50px;
      height: 400px;
      width:auto; 
    }
  
  
    .project4-column8 img
    {
      height: 900px;
      width:auto; 
    }
  
  
    .nintendo-vid1 > iframe
  
    {
      height: 500px;
      width:510px; 
  
    }
  
    .nintendo-vid2 > iframe
  
  
    {
      height: 500px;
      width:510px; 
  
    }
  
  
    
    .nintendo-vid3 > iframe
  
  
    {
      height: 500px;
      width:510px; 
  
    }
  
  
  
  
  
  
  
    .project5-row1 img 
    {
      height: 300px;
  
      width:auto; 
      padding-bottom: 30px;
    }
  
  
    .project5-row2 img
  
  {
    height: 300px;
  
    width:auto; 
    padding-bottom: 30px;
  }
  
  
  
  
  .project5-row3 img
  {
  
  
  
  
    width:auto; 
    padding-left: 50px;
    padding-bottom: 300px;
  
  }
  
  
  
  
  
  
  
  
  .juiced-vid
  
    {
      padding-bottom: 50px;
  
    }
  
  
  
  
  
    .augmneted-reality1   > iframe
  
    {
      height: 300px;
      width:510px; 
  
    }
  
  
  
  
    .augmneted-reality2   > iframe
  
    {
      height: 300px;
      width:510px; 
  
    }
  
  
  
  
    .augmneted-reality3   > iframe
  
    {
      height: 300px;
      width:510px; 
  
    }




}


  




/* Medium devices (i.e. tablets in landscape */
@media (max-width: 900px) {

  html {
    scroll-behavior: smooth;
  overflow-x: hidden;
    }


  .nav-links li {
    display: inline-block;
    margin-right: 50px;
    color: #F8D859;
    transition: .5s all ease-in-out;


  }

  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 1.3em;
    right: 0.5em;
}





  
.icon2
{
    position: relative;
    top: 90px;
    left: 45em;
}



.icon4
{
    position: relative;
    bottom: 150px;
    left: 45em;

  }

  






.row p{
    color: var(--white);
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
  padding-top: 100px;
    display: flex;
    position: relative;
    right: 85px;
    margin-bottom: 100px;

}

.project-col{


    margin-right: -50%;
    padding: 10px px;
    box-sizing: border-box;
    transition: 0.5s;

    cursor: pointer;
    transform: transform 0.3s ease-in-out;
    

}


.project1 img{
    border-radius: 30px 30px 00px 0px  ;
    height: 160px;
    width: 240px;
}

.row h3 {
    color: var(--white);
    text-align: center;
    font-size: 17.5px;
    font-weight: 600;
    margin: 5px 0;
}



.project-col:hover{

  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  box-shadow: 0 0 100px 0px rgba(0,0,0,0.2);
  float:left;
  transform: translateY(-20px);
    



}




.project-btn
{
    position: relative;
    bottom: 60px;

}



.project-btn
  {
    border: 3px solid whitesmoke;
    border-radius: 20px;

    color: var(--white);
    padding: 13px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: calc(14px + (20 - 16) * (100vw - 400px) / (1800 - 400));
    width: fit-content; 
    margin-top: 50px;
   }

   
   .project-btn:hover 
   {
    background-color: var(--accent-colour);
    color: var(--navy-blue);

   }


   .project-btn:visited 
   {
    color: var(--#203543);
   }

   .project-btn:hover:visited 
   {
    color: var(--navy-blue);
   }






/*---------------------------Styling for the About Page--------------------------------------------*/
  


.about 
{

padding: 0px 0px;
background-color: #ECF2F9;


}

.about img
{
height:240px;
width:330px;
border-radius: 25px;
margin-top: 150px;
}






.about-text h1
{

font-size:30px;
text-transform: capitalize;
margin-bottom: 20px;
color: var(--navy-blue);
text-align: center;

}


.about-text h5
{

font-size:20px;
color: var(--navy-blue);
text-align: center;

text-transform: capitalize;
text-decoration: underline;
 margin-bottom: 25px;
 letter-spacing:2px;

}




.about-text p
{

 letter-spacing: .1px;
 line-height:28px;
 font-size:20px;
 margin-bottom: 45px;
 padding-right: 30px;
 margin-left: 90px;
}




.main
{

width: 830px;
max-width:00%;
margin: 0 auto ;
display:flex;

flex-direction: column;


}






.main2
{


max-width:95%;
margin: 100px auto ;
display:flex;
flex-direction: column;
align-items: center;
justify-content:space-around ;


}



.about-text2 h5
{

  font-size:20px;
  color: var(--navy-blue);
text-align: center;
letter-spacing:2px;
text-transform: capitalize;
text-decoration: underline;


 margin-bottom: 25px;

}




.about-text2 p
{
text-align: center;
 letter-spacing: .1px;
 line-height:28px;
 font-size:20px;

 margin-bottom: 45px;
 padding-left: 80px;
 width: 380px;

}










/*Card slider for Skills*/



.skills  {
 
  text-align: center;
  font-size: 30px;
  color: var(--navy-blue);
  font-weight: 600;
  line-height: 60px;
  position: relative;
  top: 50px;


}

.container 
{

  padding: 80 ;
  display: flex;

}



.gradient-cards {
  display: flex;
  flex-direction: column;
  gap: 75px;
  padding: 50px;
  position: relative;

  
}



.card {
  max-width: 400px;
  border: 0;
  width: 120%;
  margin-inline: auto;
  margin-left:190px;
}

.container-card 
{
  position: relative;
  border: 2px solid transparent;
  background: var(--navy-blue);
  background-clip: padding-box;
  border-radius: 35px;
  padding: 30px;



  cursor: pointer;
  transform: transform 0.3s ease-in-out;


}


.card-title 
{
  font-weight: 600;
  color: white;
  letter-spacing: -0.02em;
  line-height: 40px;
  font-style: normal;
  font-size: 20px;
  padding-bottom: 9px;
  text-align: center;
}

.card-description 
{

  line-height: 32px;
  color: var(--white);
  font-size: 17px;
  text-align: center;

}


.container-card:hover
{

  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  box-shadow: 0 0 100px 0px rgba(0,0,0,0.2);
  float:left;
  transform: translateY(-20px);
    
}









  /*---------------------------Styling for the Project 1, (Booster Juice) -------------------------------------------*/






  .header
  {
  
    background-color: #ECF2F9;
    padding-top: 90px;

  
  }
  
  .title
  
  {
  text-align: center;

  }
  
  
  
  
  .title h1
  {
     padding-bottom: 60px;
      font-size: 1.5em;
      color: #1E3547;
      text-align: center;
      
  
  }
  
  .title img
  {
    height: 300px;
    width: 390px ;
  }
  
  .contact-btn
  {
    background-color: var(--navy-blue);
    border-radius: 20px;
  
    color: var(--white);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: calc(16px + (20 - 16) * (100vw - 400px) / (1800 - 400));
    width: fit-content; 
    margin-top: 40px;
   }
  
   
   .contact-btn:hover 
   {
    animation: none;
    background-color: var(--accent-colour);
    color: var(--navy-blue);
  
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: translateY(-10px);
   }





  
  
  .research-proposal
  {
    padding-top: 50px;
    color: var(--navy-blue);
    text-align:left;
    padding-left: 10px;
    margin-right: 0px;
  
  }
  
  .research-proposal h2
  {
  
  color: var(--navy-blue);
  }
  
  
  .research-proposal p, ul
  {

    font-size: 18px;
    line-height: 30px;
    letter-spacing:.5px;
    color: var(--navy-blue);
  
  }
  
  

  .project1-column3 img
  {
    height: 500px;
    width: auto;
  }


  
  .ar-sketches p
  {

  position: relative;
  left: 30px;
  }
  
  
 
  .project2-column2 img
  {
    height: 650px;
    width: auto;
  }

  .project2-row2 img
  {
    height: 300px;
    width: auto;
  }


  .project2-row3 img
  {
    height: 280px;
    width: auto;
  }
          

.project3-row3 img

{
  height: 300px;
  width: auto;

}

.project3-row1 img
{
  height: 400px;
  width: auto;

}


.project3-row4 img

{
  height: 400px;
  width: auto;

}







  
  .project4-row1 img
  {
    height: 270px;
    width: auto; 
  }

 



  .research-proposal-2 , .research-proposal-3
  {
   

    font-size: 18px;
    line-height: 30px;
    letter-spacing:.5px;


    padding-top: 40px;
    color: var(--navy-blue);
    text-align:left;
    padding-left: 10px;
    margin-right: 0px;
  
  
  }
  

  .project4-row2
  {

    display: flex;
    flex-direction: column;
  }



  .project4-column4 img  
  {
    padding-left: 100px;
    height: 400px;
    width:auto; 
  }



  .project4-column5 img  
  {
    padding-left: 50px;
    height: 400px;
    width:auto; 
  }


  


  .project4-row3
  {

    display: flex;
    flex-direction: column;
  }


  .project4-column6 img
  {
    padding-left: 50px;
    height: 400px;
    width:auto; 

  }
  .project4-column7 img
  {
    padding-left: 50px;
    height: 400px;
    width:auto; 
  }


  .project4-column8 img
  {
    height: 900px;
    width:auto; 
  }


  .nintendo-vid1 > iframe

  {
    height: 500px;
    width:510px; 

  }

  .nintendo-vid2 > iframe


  {
    height: 500px;
    width:510px; 

  }


  
  .nintendo-vid3 > iframe


  {
    height: 500px;
    width:510px; 

  }







  .project5-row1 img 
  {
    height: 300px;

    width:auto; 
    padding-bottom: 30px;
  }


  .project5-row2 img

{
  height: 300px;

  width:auto; 
  padding-bottom: 30px;
}




.project5-row3 img
{




  width:auto; 
  padding-left: 50px;
  padding-bottom: 300px;

}








.juiced-vid

  {
    padding-bottom: 50px;

  }





  .augmneted-reality1   > iframe

  {
    height: 300px;
    width:510px; 

  }




  .augmneted-reality2   > iframe

  {
    height: 300px;
    width:510px; 

  }




  .augmneted-reality3   > iframe

  {
    height: 300px;
    width:510px; 

  }


}





/************************************************** Small devices (Mobile) ************************************************************************/


@media (max-width: 414px)  

{







/*************Nav bar****************/


.menu-icon {
  display: block;
  position: fixed;
  top: 35px;
  right: 30px;
  z-index: 11;
  cursor: pointer;
  color: #fff;
  font-size: 30px;
}

#menu-toggle {
  display: none;


}

.nav-links {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 30%;
  background: #203543;
  text-align: center;
  padding-top: 50px;

  bottom: 1em;
    left: 0em;

  

}

#menu-toggle:checked + .menu-icon + .nav-links {
  display: block;
}

.nav-links li {
  display: block;
  margin: 20px 0;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #F8D859;
}



   .auto-height
   {
    min-height: auto; 
   
   }


  html {
    scroll-behavior: smooth;
    overflow-x: hidden;

    }




    nav 
    {
     background: var(--white);
     height: 60px;
     background-image: linear-gradient(#24302B, #203543);
     padding-bottom: 50px;
     box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
 
    }
 

   
 #introduction {
     
      display: grid;
      min-height: calc(100vh - var(--section-padding-top));
      padding-top: var(--section-padding-top);

      align-content: start;
      background-image: linear-gradient(#24302B, #203543);
  
     }
  

   
    .logo {

    position: relative; 
    right: 50px;
   
 
    }
 
    .logo img
    {
     height: 4.0rem;
     width: auto;
     margin-top: 25px;
     margin-left: 70px;
     
  
    }
 
 
 
   
 
     nav ul > li {
     flex-basis: auto;
     }
    
 
 
 
 
 
     #menu-icon {
     display: none;
     }
     
 
 
    #menu-icon, #close-icon  {
     margin-left: auto;
     flex-basis: 50%;
     text-align: right;
     font-size: 40px;
     margin-top: 0px;
 
    }
 
 
    #close-icon {
     display:none;
    }
    .navexpanded #close-icon {
     display:inline-block;
    }
 
 
    .navexpanded #menu-icon {
     display:none;
    }
 
    #logo a:hover,
    #menu-icon a:hover, #close-icon a:hover {
     background: none;
    }
  
    
 
    
 /* Styling for the Introduction */
 
 


 
 
 #introduction img
 {
     height: 4.0rem;
     width: auto;
 }
 
 .icon1
 {
     position: relative;
     top: 60px;
     right: -20px;
 
 }
 
 
 .icon2
 {
     position: relative;
     top: 0px;
     left: 19em;
 }
 
 .icon3
 {
     position: relative;
     bottom: 10px;
     right: -30px;
 
 }
 
 
 
 .icon4
 {
     position: relative;
     bottom: 70px;
     left: 21em;

 }
 
 
 
 

    
   .btn 
   {
     border: 3px solid whitesmoke;
     border-radius: 20px;
 
     color: var(--white);
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: calc(16px + (20 - 16) * (100vw - 400px) / (1800 - 400));
     width: fit-content; 
     margin-top: 70px;
 
 
     transform: translateY(-10%);
     animation: floater 4.5s infinite;
     transition: ease-in-out 0.5s;
    }






    .row {
      display: flex;
      flex-wrap: wrap;
      margin-left: 0;
      margin-bottom: 50px;
      padding-left: 160px;
    }
    
    .project-col {
      flex-basis: calc(30% - 20px);
      margin: 0 10px;
      margin-bottom: 60px;
    }




    
  .footer-content
  {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    text-align: center;

    background: var(--navy-blue);
    background-size: auto;
    color:var(--white);
 
  }



  .footer-content h3{

    max-width:500px;
    margin: 30px auto;
    line-height: 28px;
  
  
    }


  .footer-content p{

  margin: 10px auto;
  line-height: 28px;


  }




.socials{
  list-style: none;
  display: flex;

  font-size: 32px;
}


.socials li{
  list-style: none;
  margin: 5px 0px;



}

.socials a{
  text-decoration: none;
  color: var(--accent-colour);

}


.socials a i{
  font-size: 2.1rem;
  margin: 45px 50px 30px 40px;

}




.footer-bottom{
text-align: center;
width: 100vw;
padding:10px 30px;

}



.footer-bottom p{
  font-size: 20px;

  word-spacing: 2px;
  text-transform: capitalize;
  }
  



  

     .inverted-colours {
      background: var(--navy-blue);
      background-size: auto;
      color:var(--white);
     }
     .inverted-colours a {
      color:var(--white);
     }
     .inverted-colours a:visited {
      color:var(--white);
     }
     .inverted-colours .contact-btn {
  
      color:var(--navy-blue);
      color:var(--white);
  
  
     }
     
     .inverted-colours .contact-btn:hover {
      color:var(--black);
      background:var(--accent-colour);
     }
  
  
     
     .contact-btn
     {
       border: 3px solid whitesmoke;
       border-radius: 20px;
   
       color: var(--white);
       padding: 15px 32px;
       text-align: center;
       text-decoration: none;
       display: inline-block;
       font-size: calc(16px + (20 - 16) * (100vw - 400px) / (1800 - 400));
       width: fit-content; 
       margin-top: 300px;
      }
   
      




      .footer-content
      {
        display: flex;
        align-items: center;
        justify-content:center;
        flex-direction: column;
        text-align: center;
    
        background: var(--navy-blue);
        background-size: auto;
        color:var(--white);
     
      }
    
    
    
      .footer-content h3{
    
        max-width:500px;
        margin: 30px auto;
        line-height: 28px;
      
      
        }
    
    
      .footer-content p{
    
      margin: 10px auto;
      line-height: 28px;
font-size: 19px;
    
      }
    
    
    
    
    .socials{
      list-style: none;
      display: flex;
    
      font-size: 32px;
    }
    
    
    .socials li{
      list-style: none;
      margin: 5px 0px;
    
    
    
    }
    
    .socials a ul{
      text-decoration: none;
      color: var(--accent-colour);
    
    }
    
    
    .socials a i{
      font-size: 2.1rem;
      margin: 45px 40px 30px 40px;
    
    }
    
    
    
    
    .footer-bottom{
    text-align: center;
    width: 100vw;
    padding:10px 30px;
    
    }
    
    
    
    .footer-bottom p{
      font-size: 17px;
    
      word-spacing: 2px;
      text-transform: capitalize;
      }
      
    
    
    
      
    
         .inverted-colours {
          background: var(--navy-blue);
          background-size: auto;
          color:var(--white);
         }
         .inverted-colours a {
          color:var(--white);
         }
         .inverted-colours a:visited {
          color:var(--white);
         }
         .inverted-colours .contact-btn {
      
          color:var(--navy-blue);
          color:var(--white);
      
      
         }
         
         .inverted-colours .contact-btn:hover {
          color:var(--black);
          background:var(--accent-colour);
         }
      
      
         
         .contact-btn
         {
           border: 3px solid whitesmoke;
           border-radius: 20px;
       
           color: var(--white);
           padding: 15px 32px;
           text-align: center;
           text-decoration: none;
           display: inline-block;
           font-size: calc(16px + (20 - 16) * (100vw - 400px) / (1800 - 400));
           width: fit-content; 
           margin-top: 50px;
          }
       
          



  
  /*---------------------------Styling for the About Page--------------------------------------------*/
  


  .about 
  {

  padding: 0px 0px;
  background-color: #ECF2F9;

  
  }

  .about img
  {
  height:240px;
  width:330px;
  border-radius: 25px;
  margin-top: 100px;
  }





 
  .about-text h1
  {

  font-size:30px;
  text-transform: capitalize;
  margin-bottom: 20px;
  color: var(--navy-blue);
  text-align: center;
  
  }


  .about-text h5
  {

  font-size:20px;
  color: var(--navy-blue);
  text-align: center;

  text-transform: capitalize;
  text-decoration: underline;
   margin-bottom: 25px;
   letter-spacing:2px;
  
  }




  .about-text p
  {

   letter-spacing: .1px;
   line-height:28px;
   font-size:17px;
   margin-bottom: 45px;
   padding-right: 100px;
   margin-left: 90px;
  }




  .main
  {
  
  width: 830px;
  max-width:00%;
  margin: 0 auto ;
  display:flex;

  flex-direction: column;

  
  }






  .main2
  {
  

  max-width:95%;
  margin: 100px auto ;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around ;


  }


  .main2 > iframe 
  {
  height:400px;
  width: 390px;;
  }
 

  .about-text2 h5
  {

    font-size:20px;
    color: var(--navy-blue);
  text-align: center;
  letter-spacing:2px;
  text-transform: capitalize;
  text-decoration: underline;


   margin-bottom: 25px;

  }




  .about-text2 p
  {

   letter-spacing: .1px;
   line-height:28px;
   font-size:17px;

   margin-bottom: 45px;
   padding-left: 100px;
   width: 380px;

  }



  main2

  
  
  
  
  
  /*Card slider for Skills*/
  
  
  
  .skills  {
   
    text-align: center;
    font-size: 30px;
    color: var(--navy-blue);
    font-weight: 600;
    line-height: 60px;
    position: relative;
    top: 150px;

  
  }
  
  .container 
  {
  
    padding: 80 ;
    display: flex;
  
  }


  
  .gradient-cards {
    display: flex;
    flex-direction: column;
    gap: 75px;
    padding: 50px;
    position: relative;
    left: -30px;
    
  }
  

  
  .card {
    max-width: 800px;
    border: 0;
    width: 120%;
    margin-inline: auto;
    margin-right: 42px;
  }
  
  .container-card 
  {
    position: relative;
    border: 2px solid transparent;
    background: var(--navy-blue);
    background-clip: padding-box;
    border-radius: 35px;
    padding: 30px;
  
  
  
    cursor: pointer;
    transform: transform 0.3s ease-in-out;
  
  
  }
  
  
  .card-title 
  {
    font-weight: 600;
    color: white;
    letter-spacing: -0.02em;
    line-height: 40px;
    font-style: normal;
    font-size: 20px;
    padding-bottom: 9px;
  }
  
  .card-description 
  {
  
    line-height: 32px;
    color: var(--white);
    font-size: 17px;

  }
  
  
  .container-card:hover
  {
  
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0 0 100px 0px rgba(0,0,0,0.2);
    float:left;
    transform: translateY(-20px);
      
  }
  
  









  /*---------------------------Styling for the Project 1, (Booster Juice) -------------------------------------------*/






  .header
  {
  
    background-color: #ECF2F9;
    padding-top: 90px;

  
  }
  
  .title
  
  {
  text-align: center;

  }
  
  
  
  
  .title h1
  {
     padding-bottom: 60px;
      font-size: 1.5em;
      color: #1E3547;
      text-align: center;
      
  
  }
  
  .title img
  {
    height: 300px;
    width: 390px ;
  }
  
  .contact-btn
  {
    background-color: var(--navy-blue);
    border-radius: 20px;
  
    color: var(--white);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: calc(16px + (20 - 16) * (100vw - 400px) / (1800 - 400));
    width: fit-content; 
    margin-top: 40px;
   }
  
   
   .contact-btn:hover 
   {
    animation: none;
    background-color: var(--accent-colour);
    color: var(--navy-blue);
  
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: translateY(-10px);
   }





  
  
  .research-proposal
  {
    padding-top: 50px;
    color: var(--navy-blue);
    text-align:left;
    padding-left: 10px;
    margin-right: 0px;
  
  }
  
  .research-proposal h2
  {
  
  color: var(--navy-blue);
  }
  
  
  .research-proposal p, ul
  {

    font-size: 18px;
    line-height: 30px;
    letter-spacing:.5px;
    color: var(--navy-blue);
  
  }
  
  

  .project1-column3 img
  {
    height: 500px;
    width: auto;
  }


    /*---------------------------Styling for the Project 2, (Humber bakery) -------------------------------------------*/

  
  .ar-sketches 
  {
  height: 340px;
  width: 720px;
  position: relative;
  left: -200px;
  }
  

  .ar-sketches p
  {

  position: relative;
  left: -20px;
  }
 
  .project2-column2 img
  {
    height: 500px;
    width: auto;
  }

  .project2-row2 img
  {
    height: 150px;
    width: auto;
  }


  .project2-row3 img
  {
    height: 180px;
    width: auto;
  }
          
    /*---------------------------Styling for the Project 3, (Insomnia cookie) -------------------------------------------*/


  .project3-column2 img 
  {
    height: 250px;
    width: auto;
  }

  .project3-row2 img
{
  height: 150px;
  width: 190px;
}


.project3-row3 img{
  height: 150px;
  width: 135px;
}



    /*---------------------------Styling for the Project 4, (Nintendo switch) -------------------------------------------*/



  
  .project4-row1 img
  {
    height: 200px;
    width: 200px; 
  }




  .research-proposal-2 , .research-proposal-3
  {
   

    font-size: 18px;
    line-height: 30px;
    letter-spacing:.5px;


    padding-top: 40px;
    color: var(--navy-blue);
    text-align:left;
    padding-left: 10px;
    margin-right: 0px;
  
  
  }
  

  .project4-row2
  {

    display: flex;
    flex-direction: column;
  }



  .project4-column4 img  
  {
    padding-left: 100px;
    height: 200px;
    width:auto; 
  }



  .project4-column5 img  
  {
    padding-left: 50px;
    height: 200px;
    width:266px; 
  }


  


  .project4-row3
  {

    display: flex;
    flex-direction: column;
  }


  .project4-column6 img
  {
    padding-left: 50px;
    height: 200px;
    width:266px; 
  }


  .project4-column7 img
  {
    padding-left: 50px;
    height: 200px;
    width:266px; 
  }


  .project4-column8 img
  {
    height: 500px;
    width:auto; 
  }


  .nintendo-vid1 > iframe

  {
    height: 300px;
    width:410px; 

  }

  .nintendo-vid2 > iframe


  {
    height: 300px;
    width:410px; 

  }


  
  .nintendo-vid3 > iframe


  {
    height: 300px;
    width:410px; 

  }


    /*---------------------------Styling for the Project 5, (Juiced) -------------------------------------------*/





  .project5-row1 img 
  {
    height: 300px;

    width:410px; 
    padding-bottom: 30px;
  }


  .project5-row2 img

{
  height: 300px;

  width:410px; 
  padding-bottom: 30px;
}




.project5-row3 img
{




  width:470px; 
  padding-bottom: 30px;

}

    /*---------------------------Styling for the Project 6, (Augmented reality ) -------------------------------------------*/


  .augmneted-reality1   > iframe

  {
    height: 300px;
    width:410px; 

  }



  .augmneted-reality2   > iframe

  {
    height: 300px;
    width:410px; 

  }




  .augmneted-reality3   > iframe

  {
    height: 300px;
    width:410px; 

  }


}








